@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
  --font-popi: 'Poppins', sans-serif;
  color-scheme: light;
}
:root[data-theme='dracula'] {
  color-scheme: dracula;
}

:root[data-theme='dracula'] img.svg {
  filter: invert(1);
}

:root[data-theme='light'] img[class*='commitconf.no-invert'] {
  filter: invert(1) !important;
}

:root[data-theme='dracula'] img[src*='.no-invert.svg' i] {
  filter: none !important;
}

:root[data-theme='light'] img[src*='bilbostack.png' i] {
  filter: invert(50%);
}

img[src*='streamer' i] {
  border-radius: 9999px;
}

* {
  min-width: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}
svg {
  fill: 'red';
}

.icon-svg {
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  width: 24px;
  height: 24px;
}

.DocSearch-Button {
  margin: 0px !important;
}
