@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
  --font-popi: 'Poppins', sans-serif;
  color-scheme: light;
}
:root[data-theme='dracula'] {
  color-scheme: dracula;
}

:root[data-theme='dracula'] img#svg {
  filter: invert(1);
}

:root[data-theme='light'] img#svg.commitconf {
  filter: invert(1);
}

:root[data-theme='light'] img#svg.youtube,
:root[data-theme='light'] img#svg.vitest {
  filter: none;
}

:root[data-theme='dracula'] img#svg.youtube,
:root[data-theme='dracula'] img#svg.prettier,
:root[data-theme='dracula'] img#svg.nerdearla,
:root[data-theme='dracula'] img#svg.commitconf,
:root[data-theme='dracula'] img#svg.jest,
:root[data-theme='dracula'] img#svg.vitest,
:root[data-theme='dracula'] img#svg.playwright {
  filter: none;
}

img.bilbostack {
  border-radius: inherit;
}

* {
  min-width: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}
svg {
  fill: 'red';
}

.icon-svg {
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  width: 24px;
  height: 24px;
}
